<div class="ui secondary inverted blue menu">
  <div class="ui container">
  <a class="item">
    Add contact
  </a>

    <div class="item">
      <div ng-show="searchEnabled" class="ui large transparent inverted icon input">
        <input ng-model="searchFilter" type="text" placeholder="Search...">
      </div>
    </div>
  <div class="right menu">
    <a class="item" ng-click="searchEnabled=true">
        <i class="large search icon"></i>
      </a>
  </div>
</div>
</div>
<div class="ui container">
<div class="ui huge divided list">
  <div class="item" ng-repeat="contact in contacts | filter: searchFilter">
    <img class="ui avatar image" src="http://placekitten.com/g/200/200">
    <div class="content">
      <div class="header left-aligned">{{contact.name}}</div>
      <div class="description">{{contact.email}}</div>
    </div>
  </div>
</div>
</div>